<a href="https://colab.research.google.com/github/mohd-sahil/Housing-Dataset-Preprocessing-and-Feature-Engg-for-Machine-Learning/blob/main/Housing_Dataset_DP_and_FE_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Import and first Inspection

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Data Science - Capstone Projects/Housing-Dataset-Analysis/housing.csv")

In [4]:
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
df[df.total_bedrooms.isna()]

       longitude  latitude  ...  median_house_value  ocean_proximity
290      -122.16     37.77  ...            161900.0         NEAR BAY
341      -122.17     37.75  ...             85100.0         NEAR BAY
538      -122.28     37.78  ...            173400.0         NEAR BAY
563      -122.24     37.75  ...            247100.0         NEAR BAY
696      -122.10     37.69  ...            178400.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20267    -119.19     34.20  ...            220500.0       NEAR OCEAN
20268    -119.18     34.19  ...            167400.0       NEAR OCEAN
20372    -118.88     34.17  ...            410700.0        <1H OCEAN
20460    -118.75     34.29  ...            258100.0        <1H OCEAN
20484    -118.72     34.28  ...            218600.0        <1H OCEAN

[207 rows x 10 columns]